.input-group {
}

label {
    display: grid;
    gap: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    input {
        /* width: 100%; */
        padding: 0.5rem 0.75rem;
        border-radius: 0.25rem;
        font-size: 1rem;

        &:focus {
            outline-color: var(--blue);
        }
        &:invalid,
        &:user-invalid {
            outline-color: var(--red);
        }
        &:valid,
        &:user-valid {
            outline-color: var(--moderate-green);
        }
    }
    span {
        color: var(--red);
        font-size: 0.75rem;
        margin-top: 0.5rem;
        display: block;
    }
    .error {
        color: var(--red);
    }
    textarea {
        padding: 0.5rem;
        height: 4rem;
        &:focus {
            outline-color: var(--blue);
        }
        &:invalid,
        &:user-invalid {
            outline-color: var(--red);
        }
        &:valid,
        &:user-valid {
            outline-color: var(--moderate-green);
        }
    }
}

.learning-period {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}
/* Button style */
.button {
    color: var(--white);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
#active {
    &:hover {
        box-shadow: var(--heavy-shadow);
    }
    &:active {
        border: 1px solid var(--medium-grey);
    }
}
/* Accordion style */
.pannel {
    border-bottom: 2px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    box-shadow: var(--light-shadow);
    cursor: pointer;
}
